@import "../../variables.scss";

.drawer {
  .icon {
    cursor: pointer;
    color: $white-color;
    font-size: $font + 4;
  }
  &.ant-layout-sider {
    height: 100%;
    background: $white-color;
    min-width: 300px !important;
    .ant-layout-sider-children {
      padding: $padding - 20;
    }
    @media screen and (max-width: $screen-xs-max) {
      min-width: 0 !important;
      width: 300px !important;
      max-width: 300px !important;
    }
    .ant-card-header {
      display: flex;
      justify-content: space-between;
      .icon {
        color: rgb(91, 88, 143);
      }
      .header-title {
        font-weight: $font-weight + 100;
        font-size: $font + 4;
        color: rgb(91, 88, 143);
      }
      padding-bottom: $padding;
    }
    .vo2 {
      padding-bottom: $padding;
      .vo2-max {
        background-color: rgb(80, 97, 206);
        border-radius: $border-radius + 11;
        padding: $padding - 10;
        .header {
          display: flex;
          justify-content: space-between;
          color: $white-color;
        }
        .number {
          font-size: $font + 30;
          font-weight: 700;
          margin-top: $margin - 45;
          text-align: center;
          color: rgb(247, 224, 99);
          font: $primary-font-family;
        }
        .text {
          color: $white-color;
          text-align: center;
          font-size: $font + 2;
          font-weight: $font-weight + 100;
          margin-top: $margin - 40;
        }
      }
    }
    .training-zone {
      color: rgb(80, 97, 206);
      padding-bottom: $padding - 20;
    }
    .anaerobic {
      background-color: rgb(255, 249, 241);
      border-radius: $border-radius + 11;
      padding: $padding - 10;
      .card-content {
        align-items: center;
        .number {
          font-size: $font + 2;
          color: rgb(253, 143, 71);
          font-weight: bold;
        }
        .card-text {
          .max-title {
            color: rgb(95, 88, 141);
            font-weight: $font-weight + 300;
          }
          .level {
            color: rgb(180, 186, 210);
            font-weight: $font-weight + 100;
          }
        }
        .icon-down {
          font-size: $font - 3;
          margin-right: $margin - 28;
          color: rgb(253, 143, 71);
          cursor: pointer;
        }
        .percentage {
          color: rgb(253, 143, 71);
          cursor: pointer;
          font-weight: $font-weight + 300;
        }
      }
    }
    .hrm {
      background-color: rgb(237, 255, 236);
      border-radius: $border-radius + 11;
      padding: $padding - 10;
      .card-content {
        align-items: center;
        .number {
          font-size: $font + 2;
          color: rgb(100, 200, 137);
          font-weight: bold;
        }
        .card-text {
          .max-title {
            color: rgb(95, 88, 141);
            font-weight: $font-weight + 300;
          }
          .level {
            color: rgb(180, 186, 210);
            font-weight: $font-weight + 100;
          }
        }
        .icon-down {
          font-size: $font - 3;
          margin-right: $margin - 28;
          color: rgb(57, 183, 103);
          cursor: pointer;
        }
        .percentage {
          color: rgb(57, 183, 103);
          cursor: pointer;
          font-weight: $font-weight + 300;
        }
      }
    }
    .recovery {
      background-color: rgb(238, 251, 255);
      border-radius: $border-radius + 11;
      padding: $padding - 10;
      .card-content {
        align-items: center;
        .number {
          font-size: $font + 2;
          color: rgb(70, 142, 172);
          font-weight: bold;
        }
        .card-text {
          .max-title {
            color: rgb(95, 88, 141);
            font-weight: $font-weight + 300;
          }
          .level {
            color: rgb(180, 186, 210);
            font-weight: $font-weight + 100;
          }
        }
        .icon-down {
          font-size: $font - 3;
          margin-right: $margin - 28;
          color: rgb(70, 142, 172);
          cursor: pointer;
        }
        .percentage {
          color: rgb(70, 142, 172);
          cursor: pointer;
          font-weight: $font-weight + 300;
        }
      }
    }
    .vo2-training-zone {
      background-color: rgb(255, 242, 242);
      border-radius: $border-radius + 11;
      padding: $padding - 10;
      .card-content {
        align-items: center;
        .number {
          font-size: $font + 2;
          color: rgb(192, 95, 95);
          font-weight: bold;
        }
        .card-text {
          .max-title {
            color: rgb(95, 88, 141);
            font-weight: $font-weight + 300;
          }
          .level {
            color: rgb(180, 186, 210);
            font-weight: $font-weight + 100;
          }
        }
        .icon-down {
          font-size: $font - 3;
          margin-right: $margin - 28;
          color: rgb(192, 95, 95);
          cursor: pointer;
        }
        .percentage {
          color: rgb(192, 95, 95);
          cursor: pointer;
          font-weight: $font-weight + 300;
        }
      }
    }
    .coach-consultation {
      margin: $margin - 10 0 $margin - 20 0;
      color: rgb(80, 97, 206);
    }
    .avatar-text {
      display: inline-flex;
      .avatar {
        margin-right: $margin - 20;
      }
      .message {
        border: none;
        border-bottom: $border-width $border-style $border-color;
        color: $secondary-color;
        width: 200px;
        &:focus {
          box-shadow: none;
          -webkit-box-shadow: none;
        }
      }
      .ant-input::placeholder {
        color: $primary-color;
        font-weight: $font-weight + 300;
      }
      padding-bottom: $padding - 10;
    }
    .ask-coach {
      cursor: pointer;
      margin-right: -10px;
      padding: $padding - 10;
      background-color: rgb(253, 214, 86);
      border-radius: $border-radius + 20 0 0 $border-radius + 20;
      text-align: center;
      color: $black-color;
      font-weight: $font-weight + 100;
      .message-icon {
        margin-right: $margin - 20;
      }
    }
    // Drawer trigger
    .ant-layout-sider-zero-width-trigger {
      position: absolute;
      top: 64px;
      left: -36px;
      z-index: 1;
      width: 36px;
      height: 42px;
      color: $black-color;
      font-size: 18px;
      line-height: 42px;
      text-align: center;
      background: $white-color;
      border-radius: 0 2px 2px 0;
      cursor: pointer;
      @media screen and (min-width: $screen-xs-min) {
        display: none;
      }
    }
  }
}
