@import "../../variables.scss";

.header-content {
  font-size: $font + 4;
  font-weight: $font-weight + 100;
  color: rgb(95, 92, 146);
  margin: $margin - 10 0 $margin - 10 0;
  text-align: center;
}

.sidebar {
  &.ant-layout-sider {
    background: none;
    height: inherit;
    .ant-layout-content {
      height: 100%;
    }
    .ant-menu {
      background-color: rgb(80, 97, 206);
      border-radius: 0 $border-radius + 36 0 $border-radius + 16;
      height: inherit;
      .ant-menu-item {
        margin: 0 0 $margin - 20 $margin - 5;
        width: auto;
        line-height: $line-height + 30;
        height: 50px;
        color: $white-color;
        &:active {
          border-radius: $border-radius + 21 0 0 $border-radius + 21;
          background-color: rgb(238, 243, 249) !important;
        }
        &:focus {
          border-radius: $border-radius + 21 0 0 $border-radius + 21 !important;
          outline: none;
        }
        &.ant-menu-item-selected {
          font-size: $font + 2;
          font-weight: $font-weight + 200;
          color: $black-color;
          border-radius: $border-radius + 21 0 0 $border-radius + 21;
          background-color: rgb(238, 243, 249) !important;
          &::after {
            border-right: none;
          }
        }
      }
    }
  }
}

.avatar {
  text-align: center;
  margin: $margin + 10 0 $margin + 10 0;
  .avatar-name {
    margin-top: $margin - 5;
    font-family: IBM Plex Sans, sans-serif;
    color: $white-color;
    font-weight: $font-weight;
  }
}
