//Colors
$white-color: #fff;
$black-color: #000;
$secondary-color: #aab3b6;
$lighter-secondary-color: #99a8ae;
$danger-color: #f13827;
$primary-color: #95baf9;
$color-oval-blue: #00cccc;
$success-color: #31bf57;
$warning-color: #fdc41c;
$grey: #c7d0eb;

//Icons Color
$icon-color: #a3b2b8;

//Font
$font: 14px;
$font-weight: 400;
$primary-font-family: "IBM Plex Sans", sans-serif;
$secondary-font-family: "Roboto", sans-serif;

//Background colors
$secondary-bg-color-darker: #f5f7f7;
$secondary-bg-color: #fcfcfc;
$primary-bg-color: #f6f8f8;

// Margin and Padding
$margin: 30px;
$padding: 30px;

// Line Height
$line-height: 20px;

// Border
$border-style: solid;
$border-width: 1px;
$border-radius: 4px;
$border-color: #e3e8ea;

// Media Queries
$screen-xxxs: 320px;
$screen-xxs: 400px;
$screen-xxs-max: 480px;
$screen-xs-max: 767px;
$screen-xs-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1024px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1440px;
